################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ubung_1/ValueTypes/.vs
/Ubung_1/ValueTypes/ValueTypes/bin/Debug/net6.0
/Ubung_1/ValueTypes/ValueTypes/obj
/.vs
